@model LP.ServiceHost.DataContracts.Common.Content.Group

<li id="moduleCheckboxes">
    <input type="checkbox" value="@Model.Id" class="filter-checkbox" id="@Model.Name" />
    <label for="@Model.Name">@Model.Name - @Model.CultureName</label>
</li>
